/* fonts */
@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: 300;
}

/* global reset */
html, body, body div, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, small, strike, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, aside, section, article, header, footer, main, input, textarea, button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    box-sizing: content-box;
}
ol, ul, li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, textarea {
    font: inherit;
    box-sizing: border-box;
}

/* main */
body {
    font-family: 'roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: rgba(31,63,104,.6);
    position: relative;
    min-width: 375px;
    overflow-x: hidden;
}
header {
    position: relative;
    display: flex;
    align-items: center;
    top: 30px;
    max-width: 1140px;
    height: 48px;
    left: 50%;
    transform: translateX(-50%);
}
footer {
    color: #fff;
    background: #316099;
}
section {
    width: 1140px;
    margin: 0 auto;
}

/* header */
header a {
    position: absolute;
    top: 0;
    bottom: 0;
}
header a:nth-child(1) {
    /* top: 10px; */
    left: 10px;
}
header a:nth-child(2) {
    top: 5px;
    right: 10px;
}
.logo {
    left: 0;
    width: 46px;
    height: 48px;
    background: url('../images/logo.svg') no-repeat;
    
}
.contacts {
    width: 34px;
    height: 38px;
    background: url('../images/contacts.svg') no-repeat;
}

/* footer */
footer section {
    padding: 64px 0;
}
.f_wrap {
    border-top: 1px solid rgba(255,255,255,.4);
}
footer ul {
    display: flex;
    justify-content: space-between;
}
footer li {
    list-style-type: upper-latin;
    list-style-position: inside;
    flex: none;
    width: 350px;
}
footer li span {
    margin-left: 25px;
    display: inline-block;
    vertical-align: top;
    width: 250px;
}
.copy {
    margin: 64px 0 0;
    opacity: 0.4;
}

/* content */
.m_wrap {
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 0%, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.m_top {
    padding-top: 190px;
    background: url('../images/big_image.png') no-repeat;
    background-size: 50%;
    background-position: right bottom; 
    height: 492px;
}
h1 {
    margin-bottom: 32px;
    width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.m_top > div {
    width: 425px;
}
.m_top button {
    margin-top: 71px;
    font-family: 'roboto';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 220px;
    height: 56px;
    left: 114px;
    top: 522px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    cursor: pointer;
}

.m_middle {
    margin: 64px auto;

}
.m_middle h3{
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #000000;
}

.blocks {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    width: 1140px;
    margin-top: 64px;
}
.image1, .image2, .image3 {

}
.image1 {
    background: url('../images/01.svg') no-repeat;
    margin: 44px 0px 51px 28px;
    width: 183px;
    height: 125px;
}
.image2 {
    background: url('../images/02.svg') no-repeat;
    margin: 44px 0px 44px 84px;
    width: 131px;
    height: 125px;
}
.image3 {
    background: url('../images/03.svg') no-repeat;
    margin: 48px 0px 48px 48px;
    width: 165px;
    height: 120px;
}
.block {
    position: relative;
    cursor: pointer;
    width: 360px;
    padding: 0 32px;
    height: 480px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}
.block h4 {
    font-size: 20px;
}
.block p {
    margin: 15px 0px 27px 0px; 
}

.block a {
    display: flex;
    width: 200px;

    color: #5A98D0;
}
.block a::after {
    display: block;
    content: '';
    width:15px;
    height: 15px;
    margin-top: 5px;
    margin-left: 23px;
    background: url('../images//arrow.svg') no-repeat;
    background-size: cover;
}

.m_bottom {
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #000000;
}
.m_bottom h2 {
    margin: 64px auto 0;
    width: 343px;
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    letter-spacing: normal;
}
.text_m_bottom {
    margin: 64px auto;
    max-width: 750px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #222222;
}
.grid {
    display: grid;
    box-sizing: border-box;
    grid-template: 480px 417px / 1fr 1fr;
    gap: 32px;
    height: 929px;
    margin: 64px 0 112px;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.05em;
    opacity: 1;
}
.smart {
    grid-column: span 2;
    text-align: right;
    padding-top: 64px;
    padding-right: 64px;
    background: url('../images/04.png') left / contain no-repeat, linear-gradient(89.99deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%), url('../images/sect31.png') center / cover, #E8E8E8;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    transform: none;
}
.smart p {
    padding: 64px 64px 0 0;
}
.sparklite {
    box-sizing: border-box;
    font-weight: 400;
    padding-left: 32px;
    padding-top: 32px;
    background: linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%), url('../images/05.png') center / cover, #E8E8E8;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    transform: none;
}
.car {
    box-sizing: border-box;
    padding-left: 32px;
    padding-top: 32px;
    background: linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%), url('../images/06.png') center / cover, #E8E8E8;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    transform: none;
} 
.sparklite p, .car p {
    padding: 32px 0 0 32px;
}
.up_foot {
    display: flex;
    justify-content: space-between;
}
.upper {
    display: flex;
    flex-direction: column;
}
.up_foot button {
    margin-top: 44px;
    margin-right: 90px;
    font-family: 'roboto';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 220px;
    height: 56px;
    background: #5A98D0;
}
.upper p:nth-child(1) {
    width: 340px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
}
.upper p:nth-child(2) {
    margin-top: 32px;
    width: 495px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
/*Вторая страница - контакты*/
/* .p2_top_wrap {
    width: 100%;
    background: url('../images/p2background.svg') center 130px no-repeat;
    background-size: 100% auto;
    position: relative; 
     height: 250px;
    padding-top: 130px; 
}*/
section.wide {
    width: 100%;
    padding-top: 82px;
}
.p2_top_wrap {
    background: url('../images/p2background.svg') no-repeat;
    position: relative;
    background-position-x: center;
    background-size: cover;
    height: 250px;
}
.p2_top {
    padding: 50px 
}
.p2_top h4{
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    color: #FFFFFF;
}
.p2_top p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}
.p2_middle_wrap {
    display: flex;
    gap: 101px;
    margin-top: 200px;
    justify-content: space-between;
    letter-spacing: 0.04em;
    align-items: center;
}

.p2_middle {
    height: 668px;
    text-align: left;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.p2_middle h5{
    padding: 20px 0 0 0;
}
.p2_middle .p2_address {
    margin-top: 16px;/*24-8*/
    font-weight: 300;
    color: #1F3F68;
    opacity: 0.6;
}
.p2_middle li{
    padding-left: 40px;/*24+16*/
    margin-top: 16px;
    opacity: 0.6;
}
.p2_phone li {
    background: url(../images/p2phone.png) no-repeat;
}

.p2_online li:first-child {
    background: url(../images/p2site.png) no-repeat;
}

.p2_online li:last-child {
    background: url(../images/p2mail.png) no-repeat;
}

.cont_f {
    max-width: 540px;
}
.text_form {
    font-size: 16px;
    line-height: 30px;
    color: #1F3F68;
    opacity: 0.8;
    margin: 32px 0 8px;
}
.name_form {
	border: 1px solid #1F3F68;
	border-radius: 10px;
	height: 72px;
	width: 100%;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: #1F3F68;
	opacity: 0.2;
	padding-left: 36px;
	transform: none;
}
.email_form {
    border: 1px solid #1F3F68;
    border-radius: 10px;
    height: 72px;
    width: 100%;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.2;
    padding-left: 36px;
    transform: none;
}
.message_form {
    border: 1px solid #1F3F68;
    border-radius: 10px;
    height: 144px;
    width: 100%;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.2;
    padding: 21px 10px 0 36px;
    transform: none;
}
form {
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 50px;
}
form button {
    width: 428px;
    height: 72px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    color: #fff;
    margin-top: 72px;
    cursor: pointer;
    transform: none;
}

#map {
    height: 480px;
    width: 940px;
    margin: 100px auto;
}

/*Третья страница - переходы*/
.page {
    text-align: center;
    font-size: 64px;
}
.page h5{
    line-height: 1.5em;
    padding: 130px 10px;
}

/* adaptivity */
@media screen and (max-width:1199px) {
    header {
        width: 700px;
        /* margin-left: -350px; */
    }
    section {
        width: 700px;
    }
    footer section {
        width: 520px;
    }
    footer ul {
        display: block;
    }
    footer li {
        width: 100%;
    }
    footer li span {
        width: auto;
        margin-left: 40px;
    }
    footer li + li {
        margin-top: 20px;
    }
    .trio {
        justify-content: center;
    }
    .blocks {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* .mm_wrap {
        flex-direction: column;
    } */
    .smart {
        margin-bottom: 0px;
    }
    .sparklite, .car {
        width: 100%;
    }
/* .p2_middle_wrap, .middle_wrap {
    /* flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    } */
.m_middle {
    flex-wrap: nowrap;
    flex-direction: column;
}
.middle_wrap > div {
    height: 450px;
    width: 336px;
    margin: 32px auto 0;
    padding-left: 30px;
    padding-right: 30px;
}
.block {
    width: 330px;
}
.p2_middle_wrap {
    flex-wrap: nowrap;
    flex-direction: column;
}
    .cont_f {
        max-width: 540px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cont_f input, .cont_f textarea, .cont_f button {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    #map {
        width: 100%;
        max-width: 940px;
        margin: 64px auto;
        height: 392px;
    }
}
@media screen and (max-width:729px) {
    header {
        width: auto;
        /* margin-left: 0; */
        /* left: 16px;
        /* right: 16px; */
        top: 42px;
    }
    section {
        width: auto;
        /* margin: 0 16px; */
    }
    footer section {
        width: auto;
        padding: 32px 0;
    }
    footer ul {
        padding-left: 20px;
    }
    footer li {
        list-style-position: outside;
    }
    footer li span {
        margin-left: 20px;
    }
    .smart {
        margin-bottom: 0px;
    }
    #map {
        height: 350px;
        margin: 32px auto;
    }
}
